.panel-block-alike {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em 0.75em;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  color: #363636;
}
